.list-overflow-container {
  max-height: 545px;
  border: black double;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: blue;
  text-align: center;
  color: white;
  font-family:monospace;
}


.list-overflow-container-modal {
  max-height: 545px;
  border: black double;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  text-align: center;
  color: black;
  font-family:monospace;
}


.list-overflow-container ul {
  margin: 0;
  background-color: blue;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
  background-color: blue;
}

.list-overflow-container-modal li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
  background-color: white;
}


.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}
